.off-screen-menu{
    display: none;
}
/*----------HAM-MENU-----------*/
 
 
 @media (max-width: 850px) {
    .menu{
        display: none;
    }
    ul {
        list-style-type: none;
      }
    a {
        text-decoration: none;
    }
      
    .off-screen-menu{
         /*liquid glass*/
         background: rgba(255, 255, 255, 0.271); /* transparent vit */
         backdrop-filter: blur(10px);
         -webkit-backdrop-filter: blur(10px); 
         border: 1px solid rgba(255, 255, 255, 0.3);
       
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        transition: .4s ease;
    }
    .off-screen-menu.active{
        right: 0;
    }
    .off-screen-menu ul li {
        margin-bottom: 50px; 
    }
    
    
    .ham-menu{
        position: fixed;         /* Se till att den inte påverkas av andra element */
        background-color: white;
        height: 50px;
        border-radius: 5px;
        width: 60px;
        right: 20px;
        margin-top: 15px;

                 /*liquid glass*/
                 background: rgba(255, 255, 255, 0.271); /* transparent vit */
                 backdrop-filter: blur(10px);
                 -webkit-backdrop-filter: blur(10px); 
                 border: 1px solid rgba(255, 255, 255, 0.3);
            
                 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    }

    .ham-menu.active {
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
        box-shadow: none;
    }
    
    
    .ham-menu span{
        height: 5px;
        width: 80%;
        background-color: var(--primary-color);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3 ease;
    }
    .ham-menu span:nth-child(1){
        top:25%;
    }
    .ham-menu span:nth-child(3){
        top:75%;
    }
    
    
    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        background-color: var(--primary-color);
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
        background-color: var(--primary-color);
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
        background-color: var(--primary-color);
    }
}
